<!doctype html>
<html class="no-js" lang="en" data-ng-app="launcherMakerApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chome Web Launcher Creator</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.min.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
  </head>
  <body data-ng-controller="LauncherController">
    <div class="row">
      <div class="large-12 columns">
        <h1>Chome Web Launcher Creator</h1>
      </div>
    </div>

    <div class="row">
      <div class="large-3 medium-3 columns">
        <ul class="no-bullet">
          <li data-ng-repeat="field in ['name','description','icon','url']">
            <span data-ng-class="{'label': 1, 'alert': dataForm[field].$invalid, 'success': !dataForm[field].$invalid }">
              <i data-ng-class="{'fa': 1, 'fa-times-circle': dataForm[field].$invalid, 'fa-check-circle': !dataForm[field].$invalid}"></i> Has {{field}}
            </span>
          </li>
        </ul>
        <a href="#" class="medium round success button" data-ng-disabled="!dataForm.$valid" data-ng-click="generate()">Generate</a><br/>
      </div>

      <div class="large-9 medium-9 columns">
        <form name="dataForm">
          <fieldset>
            <!-- legend>Yo</legend -->

            <div class="row">
              <div class="large-12 medium-12 columns">
                <label data-ng-class="{'error': dataForm.name.$dirty && dataForm.name.$invalid }">
                  Name <span class="required">*</span>
                  <input type="text" placeholder="App Name" data-ng-model="name" name="name" required />
                </label>
                <small class="error" data-ng-show="dataForm.name.$dirty && dataForm.name.$error.required">Required</small>
              </div>
            </div>
            <div class="row">
              <div class="large-12 medium-12 columns">
                <label data-ng-class="{'error': dataForm.description.$dirty && dataForm.description.$invalid }">
                  Description <span class="required">*</span>
                  <input type="text" placeholder="URL" data-ng-model="description" maxlength="132" name="description" required/>
                  <small class="error" data-ng-show="dataForm.description.$dirty && dataForm.description.$error.required">Required</small>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 medium-12 columns">
                <label data-ng-class="{'error': dataForm.icon.$invalid && dataForm.icon.$dirty}">
                  Icons <span class="required">*</span>
                  <div class="small-block-grid-2 large-block-grid-4">
                    <input type="number" style="display:none" name="icon" data-ng-model="iconLength" min="1" required />
                    <div ng-repeat="(size,icon) in icons">
                      {{size}}x{{size}}
                      <br/>
                      <img class="th" data-ng-src="{{icon}}">
                    </div>
                  </label>
                  <a href="#" class="small button" data-ng-click="addImage()">Add Icon</a>
                  <small class="error" data-ng-show="dataForm.icon.$dirty && dataForm.icon.$error.min">At least one icon is required</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="large-12 medium-12 columns">
                <label data-ng-class="{'error': dataForm.url.$dirty && dataForm.url.$invalid }">
                  Link <span class="required">*</span>
                  <input type="url" placeholder="URL" data-ng-model="url" name="url" required/>
                </label>
                <small class="error" data-ng-show="dataForm.url.$dirty && dataForm.url.$error.required">Required</small>
                <small class="error" data-ng-show="dataForm.url.$dirty && dataForm.url.$error.url">Not a URL</small>

              </div>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
    <pre>{{ data }}</pre>

    <script src="bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- script src="bower_components/foundation/js/foundation.min.js"></script -->
    <script src="bower_components/angular-foundation/mm-foundation-tpls.min.js"></script>
    <script src="bower_components/jszip/dist/jszip.min.js"></script>
    <script src="bower_components/FileSaver/FileSaver.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
